@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
*{
  font-family: "Inter", "Nunito";
} */


@layer components {
  .some{
    @apply bg-gray-900 
  }
}

body{
  background-color: rgb(17 24 39);
  color: #ffffff;
}

.nunito{
  font-family: "Nunito";
}

.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
}

.editor #codeArea {
  outline: none;
  padding-left: 50px !important;
}

.editor pre {
  padding-left: 25px !important;
}

.editor .editorLineNumber {
  position: absolute !important;
  left: 5px !important;
  color: #cccccc !important;
  text-align: center !important;
  width: 20px !important;
  font-weight: 100;
  /* background-color: #cccccc; */
}

